<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpRuntime requestValidationMode="2.0" maxRequestLength="10240000"/>
		<compilation defaultLanguage="vb" debug="true" targetFramework="4.8">
		</compilation>
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!-- sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=[your ID];password=[your password]" cookieless="false" timeout="20"/ -->
		<sessionState mode="InProc" cookieless="false" timeout="20" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages validateRequest="false" controlRenderingCompatibilityVersion="4.0">
			<namespaces>
				<add namespace="Microsoft.VisualBasic"/>
				<add namespace="System.Data"/>
				<add namespace="System.Drawing"/>
			</namespaces>
		</pages>
		<xhtmlConformance mode="Legacy"/>
	</system.web>
	<appSettings>
		<!-- The field DB_CONN_STRING contains the environment variable name with the DB connection string -->
		<add key="DB_CONN_STRING" value="ALICE_CONN_STRING"/>
		<add key="UPLOAD_PATH" value="~/uploads/"/>
	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/define:Debug=True /define:Trace=True /imports:Microsoft.VisualBasic,System,System.Collections,System.Configuration,System.Data,System.Drawing,System.Web,System.Web.UI,System.Web.UI.HtmlControls,System.Web.UI.WebControls">
				<providerOption name="CompilerVersion" value="v4.0"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<!--add name="Access-Control-Allow-Origin" value="*" /-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
