.TabOn {font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-weight:   bold; color: #FFFFFF; background-color: #ececd7; text-align: center; background-repeat: no-repeat; text-decoration: none; width: 74px}
.TabOff{font-family: Arial, Helvetica, sans-serif; font-size: x-small; font-weight: normal; color: #336699; background-color: #eeeeee; text-align: center; background-repeat: no-repeat; text-decoration: none; width: 74px}

.TITLE_WARNING {
	font-weight: normal;
	font-size: x-small;
	vertical-align: top;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffCCCC;
	text-decoration: none;
	}

BODY {
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Helvetica, sans-serif;
    FONT-SIZE: x-small;
    FONT-WEIGHT: normal;
    LETTER-SPACING: normal;
    TEXT-TRANSFORM: none;
    WORD-SPACING: normal;
	}

H1, H2, H3 {
    COLOR: #CC0000;
	}

H1	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	small;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}

H2	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	x-small;
	font-weight:	700;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}

H3	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	x-small;
	font-weight:	500;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
	}

P	{
	font-size:	x-small;
	text-decoration:	none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal; font-weight: normal;
    color: #000000
	}

LI	{
	font-size:	x-small;
	text-decoration:	none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal; font-weight: normal;
    color: #000000
	}

TD	{
	font-size:	x-small;
	text-decoration:	none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal; font-weight: normal;
    color: #000000
	}

A:link	{
	font-size:	x-small;
	text-decoration:	none;
	color:	#0000FF;
	}

A:visited {
	font-size:	x-small;
	text-decoration:	none;
	color:	#0000FF;
	}

A:active {
	font-size:	x-small;
	text-decoration:	none;
	color:	#FF0000;
	}

A:hover	{
	font-size:	x-small;
	text-decoration:	underline;
	color:	#0000FF;
	}

.BOLD {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	x-small;
	text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #000000;
	}

.BOLDXSMALL {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	xx-small;
	text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: #000000;
	}

.SMALL {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	x-small;
	}

.XSMALL	{
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	xx-small;
	}

.CONTENT {
	font-size:	x-small;
	text-decoration:	none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal; font-weight: normal;
    color: #000000; vertical-align:top
	}

.TAG {
	font-size:	x-small;
	text-decoration:	none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    background-color: #cccccc;
    COLOR: #cc0000;
	}

.TITLE	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size:	small;
	font-weight:	bold;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    COLOR: #cc0000;
    background-color: #cccccc;
	}

.ALERT	{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:	xx-small;
	font-style:	normal;
	text-decoration:	none;
	word-spacing:	normal;
	letter-spacing:	normal;
	text-transform:	none;
    COLOR: #ff0000;
	}

.TITLE_DARK {
	font-weight: normal;
	font-size: x-small;
	vertical-align: top;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	text-decoration: none;
	}

.TITLE_LIGHT {
	font-weight: normal;
	font-size: x-small;
	vertical-align: top;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #F5F5DC;
	text-decoration: none;
	}

.TITLE_WARNING {
	font-weight: normal;
	font-size: xx-small;
	vertical-align: top;
	font-style: normal;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ffcccc;
	text-decoration: none;
	}

.BAR_ON {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
	}

.BAR_OFF {
	background-color: #C22F45;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	font-weight: bold;
    color: #ffffff;
	}

.BAR_TITLE {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	color: #FFCC00;
	}

.BAR_TAG {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	}

.BAR_MENU {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: x-small;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	}

.BAR_FOOTER {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: xx-small;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	}

.BAR_SITE_TITLE	{
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	color: #FFFFFF;
	}

.REMARK	{
	background-color:#DBEAF5;
	font-style:italic;
	font-variant:small-caps;
	}

INPUT.ContactsTextbox {
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #666666 2px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	BORDER-LEFT: #666666 2px solid;
	WIDTH: 150px;
	COLOR: #000000;
	BORDER-BOTTOM: #333333 1px solid;
	BACKGROUND-COLOR: #ffffff;
	}

INPUT.DefaultButton {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #333333 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	BORDER-LEFT: #333333 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #000000 1px solid;
	BACKGROUND-COLOR: #d9eaf0;
	}

INPUT.DefaultTextbox {
	BORDER-RIGHT: #333333 1px solid;
	BORDER-TOP: #666666 2px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	BORDER-LEFT: #666666 2px solid;
	WIDTH: 200px;
	COLOR: #000000;
	BORDER-BOTTOM: #333333 1px solid;
	BACKGROUND-COLOR: #ffffff;
	}

INPUT.DefaultFile {
	BORDER-RIGHT: #000000 1px solid;
	BORDER-TOP: #333333 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	BORDER-LEFT: #333333 1px solid;
	COLOR: #000000;
	BORDER-BOTTOM: #000000 1px solid;
	}

.BOX {/*this is a box */
	background: #FFFFCC;
	color : #000099;
	font-family : Arial, Tahoma, Verdana, Helvetica, sans-serif;
	text-decoration : blink;
	font-size: medium;
	padding : 0px;
	margin: 0px;
	border-color : #FF0000;
	border-style : dashed;
	border-width : 1px;
	width : auto;
	text-align : center;
}