USE [ALICE_DEVELOPMENT]
GO
/****** Object:  StoredProcedure [dbo].[litFooter]    Script Date: 8/17/2021 9:09:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[litFooter]
    @Language         varchar(15) = null

AS

Begin
set nocount OFF

-- Create XML Table
Create Table #xml (lines Varchar(1000))	

-- STARTS GENERAL TAG
Insert Into #xml (lines) Values ('<footer>')

Insert Into #xml(lines)
	Select '<L_COPYRIGHT>' + rtrim(ds_nuntius) + '</L_COPYRIGHT>'
	from LINGUA_NUNTIUS where cd_lingua = @Language and cd_nuntius = 'L_COPYRIGHT'
Insert Into #xml(lines)
	Select '<L_PRIVACY>' + rtrim(ds_nuntius) + '</L_PRIVACY>'
	from LINGUA_NUNTIUS where cd_lingua = @Language and cd_nuntius = 'L_PRIVACY'

-- ENDS GENERAL TAG
Insert Into #xml (lines) Values ('</footer>')

SELECT LINES FROM #XML

end 



