USE [ALICE_DEVELOPMENT]
GO
/****** Object:  StoredProcedure [dbo].[sa_opus_dtl]    Script Date: 8/16/2021 12:18:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



ALTER PROCEDURE [dbo].[sa_opus_dtl] 
	@Language        	varchar(15) = null,
	@OpusType        	varchar(15) = null,
	@PageCode        	varchar(15) = null,
	@PageName        	varchar(20) = null,
	@hAction		varchar(20) = null,
	@UserID		 	varchar(70) = null,
	@id_opus		integer,
	@id_artifex		integer,
	@cd_opus_type		varchar(50) = null,
	@ds_title_his		varchar(100) = null,
	@ds_tag_his		varchar(250) = null,
	@ds_content_his		varchar(8000) = null,
	@ds_title_bri		varchar(100) = null,
	@ds_tag_bri		varchar(250) = null,
	@in_visible varchar(2) = null,
	@ds_content_bri		varchar(8000) = null
AS

Begin
set nocount OFF

declare @Visibility as bit
select	@Visibility = (case when @in_visible = 'on' then 1 else 0 end)
print	@Visibility
-- Create XML Table 
Create Table #xml (id int identity(1,1) not null,lines Varchar(4000))	
-- Main tag
Insert Into #xml (lines) Values ('<?xml version="1.0" encoding="iso-8859-1"?><doc>')

-- SPECIFIC ACTIONS IN THIS PAGE
if @hAction = 'Agregar'
	begin
	-- New item. Button New on the list of items was pressed
	if @id_opus = 0
		begin
			select	@id_opus = max(id_opus) + 1
			from	OPUS 
			if @id_opus is null 
				select @id_opus = 1
		end
	insert into OPUS (id_opus, id_artifex, cd_opus_type)
		values (@id_opus, @id_artifex, @cd_opus_type)
	insert into LINGUA_OPUS (id_opus, cd_lingua, ds_title, ds_tag, ds_content, in_visible)
		values (@id_opus, 'HISPANIA', @ds_title_his, @ds_tag_his, @ds_content_his, @Visibility)
	insert into LINGUA_OPUS (id_opus, cd_lingua, ds_title, ds_tag, ds_content, in_visible)
		values (@id_opus, 'BRITANNIA', @ds_title_bri, @ds_tag_bri, @ds_content_bri,  @Visibility)
	end
if @hAction = 'Actualizar'
	begin
	-- Table OPUS
	update 	OPUS 
	set 	id_opus = @id_opus, 
		cd_opus_type = @cd_opus_type, 
		id_artifex = @id_artifex
	where id_opus = @id_opus
	-- Español
	update 	LINGUA_OPUS 
	set 	id_opus = @id_opus, 
		cd_lingua = 'HISPANIA', 
		ds_title = @ds_title_his,
		ds_tag = @ds_tag_his,
		ds_content = @ds_content_his,
		in_visible = @Visibility
	where id_opus = @id_opus and cd_lingua = 'HISPANIA'
	-- English
	update 	LINGUA_OPUS 
	set 	id_opus = @id_opus, 
		cd_lingua = 'BRITANNIA', 
		ds_title = @ds_title_bri,
		ds_tag = @ds_tag_bri,
		ds_content = @ds_content_bri,
		in_visible = @Visibility
	where id_opus = @id_opus and cd_lingua = 'BRITANNIA' 
	end
if @hAction = 'Borrar'
	begin
		delete from Category		where opus = @id_opus
		delete from COLLAB_OPUS_XREF where id_opus = @id_opus
		delete from CHORUS			where id_opus = @id_opus
		delete from COMMUNICATIO	where id_opus = @id_opus
		delete from CULMINATIO		where id_opus = @id_opus
		delete from DOCTRINA		where id_opus = @id_opus
		delete from HISTORIA		where id_opus = @id_opus
		delete from Interest		where id_opus = @id_opus
		delete from LABOR			where id_opus = @id_opus
		delete from MATRIX			where id_opus = @id_opus
		delete from LINGUA_PAGINA	where id_opus = @id_opus
		delete from PAGINA			where id_opus = @id_opus
		delete from VIA				where id_opus = @id_opus
		delete from LINGUA_OPUS		where id_opus = @id_opus
		delete from OPUS			where id_opus = @id_opus
	end
if rtrim(@hAction) = 'ir_borrar'
	begin
	select @hAction = 'Borrar'
	end
if rtrim(@hAction) = 'ir_actualizar'
	begin
	select @hAction = 'Actualizar'
	end
if rtrim(@hAction) = 'ir_agregar'
	begin
	select @hAction = 'Agregar'
	end
-- Start content of the page
Insert Into #xml(lines)
	Execute litAdminTags @Language	
Insert Into #xml (lines) Values ('<sa_opus_dtl>')
-- Data for the table header
Insert Into #xml (lines) Values ('<hAction>' + rtrim(@hAction) + '</hAction>')
Insert Into #xml (lines) 
	select '<artifex_name>' + rtrim(NAUTA.ds_login) + '</artifex_name>' 
	from NAUTA
	where NAUTA.id_nauta = @id_artifex 
Insert Into #xml (lines) 
	select '<opus_name>' + rtrim(ds_title) + '</opus_name>' 
	from LINGUA_OPUS
	where cd_lingua = @Language and id_opus = @id_opus
Insert Into #xml(lines)
	Select '<in_visible>' + rtrim(cast(in_visible as char(5))) + '</in_visible>'
	from LINGUA_OPUS 
	where cd_lingua = @Language and id_opus = @id_opus
-- Data for the form - language independent

-- Data for the form - language dependent - SPANISH
Insert Into #xml(lines)
select 	'<ds_title_his><![CDATA[' + (case when ds_title is null then '' else ds_title end) + 
	']]></ds_title_his>' + 
	'<ds_tag_his><![CDATA[' + (case when ds_tag is null then '' else ds_tag end) + 
	']]></ds_tag_his>' 
	from lingua_opus 
	where id_opus = @id_opus and cd_lingua = 'HISPANIA'
Insert Into #xml(lines)
select 	'<ds_content_his><![CDATA[' + (case when ds_content is null then '' else ds_content end) + 
	']]></ds_content_his>' 
	from lingua_opus 
	where id_opus = @id_opus and cd_lingua = 'HISPANIA'
-- Data for the form - language dependent - BRITANNIA
Insert Into #xml(lines)
select 	'<ds_title_bri><![CDATA[' + (case when ds_title is null then '' else ds_title end) + 
	']]></ds_title_bri>' + 
	'<ds_tag_bri><![CDATA[' + (case when ds_tag is null then '' else ds_tag end) + 
	']]></ds_tag_bri>' 
	from lingua_opus 
	where id_opus = @id_opus and cd_lingua = 'BRITANNIA' 
Insert Into #xml(lines)
select 	'<ds_content_bri><![CDATA[' + (case when ds_content is null then '' else ds_content end) + 
	']]></ds_content_bri>' 
	from lingua_opus 
	where id_opus = @id_opus and cd_lingua = 'BRITANNIA'
-- Final tag for the page
	
-- Session State
Insert Into #xml(lines)
	Execute litSessionState @Language, @OpusType, @PageCode, @PageName, @UserID
-- Top Menu
Insert Into #xml(lines)
	Execute litTopMenu @Language, @PageCode, @UserID
-- Admin Tags
Insert Into #xml(lines)
	Execute litAdmin @Language
-- Footer
Insert Into #xml(lines)
	Execute litFooter @Language

-- Ends main tag

Select lines From #xml order by id 


END



