USE [ALICE_DEVELOPMENT]
GO
/****** Object:  StoredProcedure [dbo].[sa_pagina_lst]    Script Date: 8/14/2021 12:48:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[sa_pagina_lst] 
	@Language        varchar(15) = null,
	@Opus_Id         integer,
	@OpusType        varchar(15) = null,
	@PageCode        varchar(15) = null,
	@PageName        varchar(20) = null,
	@UserID			 varchar(70) = null
AS
-- Example: exec sa_pagina_lst @Language='BRITANNIA',@Opus_Id=28,@OpusType='',@PageCode='sa_menu',@PageName='sa_pagina_lst.aspx',@userID='jgutierr'

Begin
set nocount OFF

-- Create XML Table 
Create Table #xml (id int identity(1,1) not null,lines Varchar(8000))	
-- Main tag
Insert Into #xml (lines) Values ('<?xml version="1.0" encoding="iso-8859-1"?><doc>')
-- SPECIFIC CONTENT FOR THIS PAGE
declare @Artifex_id integer
Insert Into #xml(lines)
	Execute litAdminTags @Language	
Insert Into #xml (lines) Values ('<sa_pagina_lst>')
	Select @Artifex_id = id_artifex from OPUS where id_opus = @Opus_Id
Insert Into #xml (lines) Values ('<artifex_id>' + rtrim(cast(@Artifex_id as char(10))) + '</artifex_id>')
Insert Into #xml (lines) 
	select '<artifex_name>' + rtrim(nm_nauta) + '</artifex_name>' 
	from nauta
	where id_nauta = @Artifex_id 
Insert Into #xml (lines) 
	select '<opus_name>' + rtrim(ds_title) + '</opus_name>' 
	from LINGUA_OPUS
	where cd_lingua = @Language and id_opus = @Opus_Id 
Insert Into #xml (lines) 
	SELECT  '<pagina>' + 
				'<id>' + rtrim(cast(LP.id_pagina as char(10))) + '</id>'+ 
				'<connections_next>' + cast(
					(select count(*) from matrix M where i = LP.id_pagina and M.id_opus = @Opus_Id and cd_matrix_type = 'MCA') as varchar(10)) + 
				'</connections_next>' + 
				'<connections_pre-req>' + cast(
					(select count(*) from matrix M where j = LP.id_pagina and M.id_opus = @Opus_Id and cd_matrix_type = 'MCA') as varchar(10)) + 
				'</connections_pre-req>' + 
				'<SLOs>' + cast(
					(select count(*) from DOCTRINA D where D.id_opus = @Opus_Id and D.id_pagina = LP.id_pagina) as varchar(10)) + 
				'</SLOs>' + 
			'<title><![CDATA[' + rtrim(ds_title) + ']]></title>' + 
			'<tag><![CDATA[' + rtrim(ds_tag) + ']]></tag>' + 
			'<am_link>' + cast(P.am_link as varchar(3))+ '</am_link>' + 
			'</pagina>' 
	from	LINGUA_PAGINA LP join PAGINA P on   LP.id_pagina = P.id_pagina and LP.id_opus = P.id_opus 
	where	cd_lingua = @Language and LP.id_opus = @Opus_Id
	order by LP.id_pagina 
Insert Into #xml(lines) exec litLabel @Language, 'L_DELETE'
Insert Into #xml(lines) exec litLabel @Language, 'L_NEW'

	
-- Session State
Insert Into #xml(lines)
	Execute litSessionState @Language, @OpusType, @PageCode, @PageName, @UserID
-- Top Menu
Insert Into #xml(lines)
	Execute litTopMenu @Language, @PageCode, @UserID
-- Admin Tags
Insert Into #xml(lines)
	Execute litAdmin @Language
-- Footer
Insert Into #xml(lines)
	Execute litFooter @Language

-- Ends main tag

Select lines From #xml order by id 


END
